#game-canvas {
    background-color: #ebe187; /* Bleu ciel pour le fond du jeu */
    display: block;
    margin: 0 auto;
    border: 1px solid #000; /* Ajout d'une bordure pour voir le canvas */
    
}


.game-element {
    background-color: red; /* Couleur visible pour les entités */
    border: 1px solid black; /* Bordure pour voir le bloc */
  
}

