









.restart, #quit-button {
    cursor: pointer;
    position: absolute;
    top: 100%; /* Ajuste cette valeur selon l'espacement souhaité */
    font-size: 21px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #ff4f4f; /* Rouge */
    transition: background-color 0.3s;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    
  }
  
  .restart {
    left: 25%;
    transform: translateX(-50%);
    
  }
  
  #quit-button {
    right: 25%; /* Ajuste cette valeur si nécessaire */
  }
  
  .restart:hover, #quit-button:hover {
    background-color: #d32f2f; /* Rouge foncé au survol */
  }
  
  /* Ajoute une marge pour séparer les boutons si nécessaire */
  .restart + #quit-button {
    margin-left: 10px;
  }

/* Modal styles */
/* Fond de la modal */
/* Fond de la modal */
.modal {
    display: none; /* Assurez-vous que la modal est cachée par défaut */
    position: fixed; /* Fixe la modal par rapport à la fenêtre */
    z-index: 1000; /* Assurez-vous que la modal est au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00bfff, #1e90ff); /* Fond de la modal */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    touch-action: none; /* Évite le défilement tactile */
  }
  
  /* Contenu de la modal */
  .modal-content {
    background-color: transparent;
    border: none;
    text-align: center;
    position: relative; /* Fixe la modal à son parent */
    padding: 50px;
    max-width: 90%; /* Assurez-vous que la modal ne dépasse pas les bords de l'écran */
    max-height: 90%; /* Assurez-vous que la modal ne dépasse pas les bords de l'écran */
    margin: auto;
    overflow: hidden; /* Évite le débordement de contenu */
    touch-action: none; /* Évite le défilement tactile à l'intérieur de la modal */
  }
  
  /* Bouton principal */
  .modal .main-button {
    background-color: #ff4f4f;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ffdb4d;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  /* Autres boutons (ex: paramètres, réseaux sociaux) */
  .modal .option-buttons {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  
  .modal .option-buttons .option-button {
    background-color: #ff4f4f;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Police stylisée */
  .modal-content h2 {
    font-family: 'Cut the Rope', sans-serif;
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .modal-content p {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 40px;
  }
  
  
  
  
  
  .icon{
    width: 35px;
    height: 35px;
  }
  
  /* Level Selection */
  .level-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
  
    border-radius: 10px;
    padding: 20px;
   /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
  }
  
  .level-selection h2 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Cut the Rope', sans-serif;
  }
  
  .level-selection .description {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .level-selection .levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .level-selection .level-button {
    background-color: #ff4f4f;
    color: #ffdb4d;
    border: 5px solid #ffdb4d;
    border-radius: 50%;
    width: 105px;
    height: 100px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .level-selection .level-button:hover {
    background-color: #0097a7;
    transform: scale(1.1);
  }
  
  .level-selection .level-button:active {
    transform: scale(0.95);
  }
  
  
  
  /* Modal d'instructions */
  #info-modal {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1001; /* Assure que la modal est au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  #info-modal .modal-content {
    background-color: rgb(88, 26, 26);
    border-radius: 10px;
  
    padding: 20px;
    max-width: 300px;
    max-height: 80%;
    position: relative;
  }
  
  /* Style pour les boutons de modal spécifiques */
  #win-modal .modal-content button {
    background-color: #4CAF50; /* Couleur verte pour le succès */
  }
  
  #lose-modal .modal-content button {
    background-color: #f44336; /* Couleur rouge pour l'échec */
  }
  
  
  #info-modal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
  li{
    color: #fff;
  }
  
  /* Styles pour les boutons d'option dans la modal de démarrage */
  .option-button {
    background-color: #ff4f4f;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  .option-button:hover {
    background-color: #0097a7;
  }
  