

#canves #score-panel, html,
body {
  margin: 0;
  padding: 0;
}




html,
body {
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.bid{
  color: yellow;
}
body {
  background: linear-gradient(to bottom, #e0e5e7, #b6bfc7); /* Dégradé du fond */
  background-size: cover; /* Couvre toute la zone */
  background-attachment: fixed; /* Fixe le fond lors du défilement */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  overflow: hidden;
  touch-action: none;
}








#canves {
  width: 100%;
  height: 240px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 15px;
  z-index: 1; /* Assure que le canevas est au-dessus des éléments flottants */
}

#score-panel {
  width: 180px;
  height: 53px;
  position: absolute;
  color: #dd1818;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  z-index: 2; /* Assure que le panneau de score est au-dessus des éléments flottants */
}

#timer {
  font-size: 24px;
  font-weight: bold;
  color: #dd1818;
  position: absolute;
  top: -80px; /* Ajustez cette valeur pour le positionnement */
  left: 40%;
  transform: translateX(-50%);
  background-color: #333; /* Couleur de fond du timer */
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #fff; /* Bordure blanche pour contraste */
  z-index: 3; /* Assure que le timer est au-dessus du score-panel */
}


/* Les autres styles de disque, bouton et modal restent inchangés */


.restart, #quit-button {
  cursor: pointer;
  position: absolute;
  top: 100%; /* Ajuste cette valeur selon l'espacement souhaité */
  font-size: 21px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #ff4f4f; /* Rouge */
  transition: background-color 0.3s;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  
}

.restart {
  left: 25%;
  transform: translateX(-50%);
  
}

#quit-button {
  right: 25%; /* Ajuste cette valeur si nécessaire */
}

.restart:hover, #quit-button:hover {
  background-color: #d32f2f; /* Rouge foncé au survol */
}

/* Ajoute une marge pour séparer les boutons si nécessaire */
.restart + #quit-button {
  margin-left: 10px;
}

/* Style pour les tours */
.tower {
  width: 115px;
  height: 117px;
  border-bottom: 5px solid #8a7b7b;
  border-radius: 7px;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0 25px 0 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.tower#tower-3 {
  margin: 0;
}

.tower:before {
  width: 4px;
  height: 116px;
  content: "";
  display: block;
  background: #8a7b7b;
  position: absolute;
  bottom: -2px;
  left: calc(50% - 2px);
  z-index: 10;
  border-radius: 30px;
}

/* Autres styles de disque et modal restent inchangés */

.disk {
  list-style: none;
  height: 16px;
  display: block;
  border-radius: 9px;
  font-size: 0;
  z-index: 20;
}
.disk.hold {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.swal2-overlay {
  background-color: white;
}

.disk-1 {
  width: 17.5px;
  background-color: #e91e63;
  
}

.disk-2 {
  width: 29px;
  background-color: #673ab7;
}

.disk-3 {
  width: 42.5px;
  background-color: #3f51b5;
}

.disk-4 {
  width: 60px;
  background-color: #00bcd4;
}

.disk-5 {
  width: 77.5px;
  background-color: #8bc34a;
}

.disk-6 {
  width: 95px;
  background-color: #ffc107;
}

.disk-7 {
  width: 112.5px;
  background-color: #ff9800;
}

.disk-8 {
  width: 125px;
  background-color: #e100ff;
}


/* Modal styles */
/* Fond de la modal */
/* Fond de la modal */
.modal {
  display: none; /* Assurez-vous que la modal est cachée par défaut */
  position: fixed; /* Fixe la modal par rapport à la fenêtre */
  z-index: 1000; /* Assurez-vous que la modal est au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #00bfff, #1e90ff); /* Fond de la modal */
  overflow: hidden;
  justify-content: center;
  align-items: center;
  touch-action: none; /* Évite le défilement tactile */
}

/* Contenu de la modal */
.modal-content {
  background-color: transparent;
  border: none;
  text-align: center;
  position: relative; /* Fixe la modal à son parent */
  padding: 50px;
  max-width: 90%; /* Assurez-vous que la modal ne dépasse pas les bords de l'écran */
  max-height: 90%; /* Assurez-vous que la modal ne dépasse pas les bords de l'écran */
  margin: auto;
  overflow: hidden; /* Évite le débordement de contenu */
  touch-action: none; /* Évite le défilement tactile à l'intérieur de la modal */
}

/* Bouton principal */
.modal .main-button {
  background-color: #ff4f4f;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #ffdb4d;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Autres boutons (ex: paramètres, réseaux sociaux) */
.modal .option-buttons {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.modal .option-buttons .option-button {
  background-color: #ff4f4f;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Police stylisée */
.modal-content h2 {
  font-family: 'Cut the Rope', sans-serif;
  font-size: 3em;
  color: #ffffff;
  margin-bottom: 20px;
}

.modal-content p {
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 40px;
}





.icon{
  width: 35px;
  height: 35px;
}

/* Level Selection */
.level-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;

  border-radius: 10px;
  padding: 20px;
 /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
}

.level-selection h2 {
  font-size: 2.5em;
  color: #ffffff;
  margin-bottom: 10px;
  font-family: 'Cut the Rope', sans-serif;
}

.level-selection .description {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.level-selection .levels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.level-selection .level-button {
  background-color: #ff4f4f;
  color: #ffdb4d;
  border: 5px solid #ffdb4d;
  border-radius: 50%;
  width: 105px;
  height: 100px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.level-selection .level-button:hover {
  background-color: #0097a7;
  transform: scale(1.1);
}

.level-selection .level-button:active {
  transform: scale(0.95);
}



/* Modal d'instructions */
#info-modal {
  display: none; /* Masqué par défaut */
  position: fixed;
  z-index: 1001; /* Assure que la modal est au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#info-modal .modal-content {
  background-color: rgb(88, 26, 26);
  border-radius: 10px;

  padding: 20px;
  max-width: 300px;
  max-height: 80%;
  position: relative;
}

/* Style pour les boutons de modal spécifiques */
#win-modal .modal-content button {
  background-color: #4CAF50; /* Couleur verte pour le succès */
}

#lose-modal .modal-content button {
  background-color: #f44336; /* Couleur rouge pour l'échec */
}


#info-modal .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
li{
  color: #fff;
}

/* Styles pour les boutons d'option dans la modal de démarrage */
.option-button {
  background-color: #ff4f4f;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.option-button:hover {
  background-color: #0097a7;
}





/* Styles pour les modals */
.modal-restart {
  display: none; /* Caché par défaut */
  position: fixed; /* Fixé par rapport à la fenêtre */
  z-index: 1000; /* Assure que la modal est au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent sombre */
  justify-content: center;
  align-items: center;
}

/* Contenu des modals */
.modal-content-restart {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
  top: 28%;
  left: 10px;
  max-width: 400px;
  width: 90%;
  display: block; /* Assure que le contenu de la modal est affiché */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles spécifiques pour les boutons dans les modals */
.modal-content-restart h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  color: #ff4f4f;
  margin-bottom: 10px;
}

.modal-content-restart p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 20px;
}

.modal-content-restart button {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-confirm {
  background-color: #ff4f4f;
  color: #fff;
}

.modal-cancel {
  background-color: #ccc;
}

.modal-confirm:hover {
  background-color: #d32f2f; /* Rouge plus foncé au survol */
}

.modal-cancel:hover {
  background-color: #bbb; /* Grisé au survol */
}












.modal-win {
  display: none; /* Caché par défaut */
  position: fixed; /* Fixé par rapport à la fenêtre */
  z-index: 1000; /* Assure que la modal est au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.97); /* Fond semi-transparent sombre */
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  display: flex;
  

}

.modal-content-win {
  position: relative;

  
}

.image-win {
  width: 100%;
  height: auto;
  animation: slide-down 1s ease-out;
}


.coin{
  width: 40%;
  height: 10%;
}

.win-text {
  margin-top: 20px;
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;
  animation: slide-up 1s ease-out;
}

.text-background {
  display: flex;
  justify-content: center;
  align-items: center;


  padding: 10px;
  border-radius: 8px;
}



.light-effect {
 display: flex;
 justify-content: center;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 30%, transparent 70%);
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: lightPulse 2s infinite;
}

@keyframes lightPulse {
  0% {
      transform: scale(1);
      opacity: 0.8;
  }
  50% {
      transform: scale(1.1);
      opacity: 0.4;
  }
  100% {
      transform: scale(1);
      opacity: 0.8;
  }
}

.highlight {
  color: yellow;
  font-family: 'Orbitron', sans-serif;
  position: relative;
  animation: glow 1.5s infinite alternate; /* Ajoute l'animation de lueur */
}




/* Animation de lueur */
@keyframes glow {
  from {
    text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow, 0 0 20px yellow;
  }
  to {
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
  }
}

/* Animation pour l'image */
@keyframes slide-down {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation pour le texte */
@keyframes slide-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}




